html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Custom';
    src: url('fontface/LTAfficherNeue-BoldCaption.otf') format('truetype');
    
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.navbar .logo{
    margin: 10px 0px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}
.nav-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu ul li {
    list-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.nav-menu ul li a {
    text-decoration: none;
    font-size: 15px;

}
.nav-menu ul li:hover {
    background-color: #000000;
    transition: 0.5s ease;
    
}
.nav-menu ul li a:hover{
    color: white;
}
.toggle-btn {
   
    position: absolute;
    top: 28px;
    right: 60px;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    height: 22px;
    width: 32px;
}
.toggle-btn .bar {
    
    height: 4px;
    width: 100%;
    background-color: #000000;
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
    .toggle-btn {
        display: flex;
        z-index: 2;
    }

    .nav-menu ul {
        width: 100%;
        background-color: #ffffff;
        flex-direction: column;
        align-items: center;
        padding-right: 0px;
        position: absolute;
        text-align: center;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    .nav-menu {
        display: none;
        width: 100%;
    }

    .nav-menu ul-li {
        margin: 10px 0px;
    }

    .nav-menu ul li a {
        font-size: 20px;
    }

    .navbar .logo {
        font-size: 29px;
    }

    .nav-menu.active {
        display: flex;
    }
}

header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



  img {
    height: 80px;
 
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    font-size: small;
    margin-right: 15px;
  }

  a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
#about{
    padding-top: 100px;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 20px; 
    padding-bottom: 300px;
    padding-left: 4rem;
    padding-right: 4rem;
   
}
#about h1{
    font-size: 40px;
}
#about img{
    height: 300px;
   
}
#about{
    padding-right: 100px;
    padding-left: 100px;
}

#describe{
    padding-top: 4rem;
    padding-left: 3rem;
}
